{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} 
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div> <!-- Colonne medium 3 : disaparaitra en mobile / et contient un espace insécable-->
            <div class="col-md-6">
                <div class="bg-light py-3 px-3"> <!-- pour donner un fond 'light' à la div + padding horiz. et vertical dans la div -->
                    <h1>Inscription</h1>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'mot de passe'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    {{ form_end(registrationForm) }}
                   
                </div>
            </div> 
        </div>
    </div>
{% endblock %}

